.about {
  height: 126px;
  border-bottom: 1px solid rgba(189, 189, 189, 0.35);
  margin-top: 16px;

  .about_wrapper_3d {
    display: flex;
    align-items: center;
  }

  .about_present {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 213px 81px 501px 64px 160px;
    // @media (max-width: 1400px) {
    //   //   width: auto;
    //   background: red;
    // }

    .about_3d {
      width: 64px;
      margin-right: 16px;
    }
    .about_expert {
      height: 36px;
      width: 133px;
      font-style: italic;
      span {
        color: red;
      }
    }
    .about_yandex {
      border: 1px solid #ffffff;
      padding: 5px 12px;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
      border-radius: 8px;
      width: 81px;
    }
    .about_search {
      width: 501px;
      height: 44px;
      border: 1px solid #000;
      display: flex;
      justify-content: space-between;
      .about_input {
        width: 290px;
        height: 18px;
        margin-left: 16px;
        margin-top: 13px;
        border: none;
        outline: none;
      }
      .about_btn {
        margin: 4px;
        width: 75px;
        height: 36px;
        border: 2px solid #d2001c;
        border-radius: 4px;
        background: none;
        outline: none;
      }
    }

    .about_enterWrapper {
      display: flex;
      align-items: center;
      p {
        margin-left: 10px;
      }
      .about_enter {
        display: flex;
        position: relative;
        :first-child {
          position: relative;
        }
        :last-child {
          position: absolute;
          left: 5px;
          top: -4px;
        }
      }
    }

    .about_cart {
      width: 160px;
      height: 36px;
      background-color: #d2001c;
      border-radius: 4px;
      outline: none;
      border: none;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      color: #ffffff;
    }

    .about_cartImg {
      position: relative;
      margin-right: 10px;
      :nth-child(2) {
        position: absolute;
        top: 17px;
        left: 7px;
      }
      :last-child {
        position: absolute;
        top: 17px;
        left: 12px;
      }
    }
  }

  // Меню в header: Акции \ О нас ..
  .about_nav {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
}

.about_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 61px;
  font-weight: bold;
}
