@media (max-width: 1400px) {
  .inner {
    padding: 0 60px;
  }
}
@media (max-width: 1300px) {
  .inner {
    padding: 0 40px;
  }
}

@media (max-width: 1300px) {
  .about_present {
    grid-template-columns: 1fr 1fr minmax(200px, 501px) 1fr 1fr !important;
  }
}

@media (max-width: 1200px) {
  .about_menu {
    flex-wrap: wrap;
    justify-content: center;
    div {
      margin: 5px;
    }
  }
}

@media (max-width: 1050px) {
  .contact {
    grid-template-columns: 1fr;
    height: 60px;
  }
  .contact_us,
  .contact_us2 {
    width: 100%;
    justify-content: center;
    div {
      padding: 5px;
    }
  }
  .header {
    height: 270px;
  }
}

@media (max-width: 950px) {
  .about_present {
    grid-template-rows: 1fr;
    grid-template-columns: 213px 81px 64px 160px !important;
  }
  .about_search {
    grid-row: 2;
    grid-column: 1/5;
    justify-self: center;
    width: 100% !important;
  }

  .header {
    height: 350px;
  }
}

@media (max-width: 850px) {
  .about_nav {
    flex-wrap: wrap;
    justify-content: center !important;
    a {
      margin: 10px;
    }
  }
  .header {
    height: 390px;
  }
}

@media (max-width: 700px) {
  .about_present {
    grid-template-columns: 213px 81px !important;
  }
  .about_cart {
    grid-row: 2;
    grid-column: 3/5;
  }
  .about_search {
    grid-column: 1/3;
  }
  .about_enterWrapper {
    grid-row: 1;
    grid-column: 4/5;
  }
  .about_wrapper_3d {
    grid-row: 1;
    grid-column: 1/3;
    justify-self: center;
  }
  .header {
    height: 450px;
  }
  .about_yandex {
    grid-row: 1;
    grid-column: 2/5;
    justify-self: center;
  }
}

@media (max-width: 573px) {
  .inner {
    padding: 0 10px;
  }
  .contact_us {
    flex-wrap: wrap;
  }
  .header {
    height: 480px;
  }
  .contact {
    height: 90px;
  }
}

@media (max-width: 513px) {
  .header {
    height: 505px;
  }
}

@media (max-width: 500px) {
  .about_present {
    display: flex !important;
    flex-direction: column;
  }
  .header {
    height: 640px;
  }
}
@media (max-width: 446px) {
  .header {
    height: 670px;
  }
  .contact_us2 {
    flex-wrap: wrap;
  }
}

@media (max-width: 389px) {
  .contact {
    height: 115px;
  }
  .header {
    height: 690px;
  }
}

@media (max-width: 389px) {
  .header {
    height: 730px;
  }
}

@media (max-width: 332px) {
  .header {
    height: 760px;
  }
}

// content, где фотография и текст

@media (max-width: 1100px) {
  .content_title {
    font-size: 23px !important;
  }
}

@media (max-width: 700px) {
  .content_text {
    flex-direction: column;
  }
  .content_title {
    width: 100% !important;
    text-align: center;
    margin-bottom: 0 !important;
  }

  .content_work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .content_info {
    gap: 25px !important;
  }
}

@media (max-width: 412px) {
  .content_info {
    font-size: 15px;
  }
}

// news
@media (max-width: 1100px) {
  .click {
    margin-right: 0 !important;
  }
}

@media (max-width: 950px) {
  .click {
    flex-wrap: wrap;
    justify-content: space-around !important;
    margin-top: 30px !important;
    div {
      margin-top: 10px;
    }
  }
}

@media (max-width: 950px) {
  .news_title {
    :first-child {
      min-width: 265px;
    }
  }
}

@media (max-width: 370px) {
  .click {
    font-size: 14px;
  }
}

@media (max-width: 329px) {
  .click_right {
    margin-left: 0 !important;
  }
}

// video

@media (max-width: 1179px) {
  .video_play {
    justify-content: center !important;
  }

  .video_second {
    margin-top: 10px;
  }
}
